html {
    background-color: rgba(70,70,70,1);
    color: rgba(255,255,255,1);
    
    font-size: 1rem;
    margin: 0;
}

body {
    margin: 0;
}

.coin-container {
    display: flex;

    button {
        margin-inline: auto 0;
    }
}
/* this shouldn't be necessary */
h2 {
 margin: 0;
}

.chat-card {
   height: 100dvh; 
   background-color: rgba(50,50,50,1);
}

.message-input {
    display: flex;
    padding: 1rem 0;
    background-color: rgba(40, 40, 40, 1);
    
}

.message-input__input {
    flex-grow: 1;
}

.messages {
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
}

.messages p {
    width: 80%;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.your-message {
    background-color: rgba(40, 40, 200, 0.5);
    margin-inline: 0.8rem auto;
}

.other-message {
    background-color: rgba(40, 40, 40, 1);
    margin-inline: auto 0.8rem;
}

.server-message {
    background-color: rgba(40, 40, 40, 1);
    margin-inline: auto;
}

